
.recplayed{
    width: 375px;
    min-height: 667px;
    background: #fff;
    position: fixed; 
    top:0;
    left: 0;
    padding: 0 10px;
    z-index: 1000;
    /* display:none; */
}
.recplayed-header{
    padding: 10px 0px;
    width: 355px;
    height: 45px;
    line-height: 25px;
}
.recplayed-title{
    display: block;
    height: 22px;
    float: left;
    font-size: 17px;
    line-height: 22px;
    margin-left: 10px;
}
.recplayed-icon-left{
    float: left;
}
.recplayed-right{
    float: right;
}



.recplayed-item{
    display: flex; 
    alignItems: center;
    justifyContent: center; 
    height: 400px; 
    backgroundColor: #fff;
}