
.recplayed{
    
    overflow: hidden;
    min-height: 600px;
    padding: 0 10px;
    /* display:none; */
}
.recplayed-header{
    padding: 10px 0px;
    width: 100%px;
    height: 45px;
    line-height: 25px;
}
.recplayed-title{
    display: block;
    height: 22px;
    float: left;
    font-size: 17px;
    line-height: 22px;
    margin-left: 10px;
}
.recplayed-icon-left{
    float: left;
}
.recplayed-right{
    float: right;
}



.recplayed-item{
    display: flex; 
    alignItems: center;
    justifyContent: center; 
    height: 400px; 
    width: 100%;
    backgroundColor: #fff;
}