.simiBox{
    background-color: #bbb;
}
.back{
    background-color: #fff;
    padding-bottom: 10px;
    line-height: 38px;
    img{
        width: 40px;
    }
    b{
        color: black;
    }
}
.goback{
    font-size: 20px;
    color:black; 
}
.video_box{
    background-color: #fff;
}
